*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;

}


.part1{
  display: flex;
/*justify-content: space-between;*/
 
}
.heading-1{
  color:gray;
  width: 90%;
 
}
.heading-2{
  width: 9%;
}

.part2{
  display: flex;
  margin-top: 30px;
   justify-content: space-between;


}
.head-1{
  width: 40%;
}
.head-2{
  width: 40%;
}
.head-3{
  width: 10%;
}
.nav-bar  li{
  list-style: none;

}
.head-2 p{
  color:grey;
}

.nav-bar li a{
  color: black;

}
.nav-bar{
  display: flex;
  justify-content: space-between;
}
.part-3{
  display: flex;

}
.menu-0{
  background: purple;
  color:white;
  width: 20%;
  border-right:1px solid white;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;

}
.menu-0 a{
  color:white;
  text-decoration: none;
}
.menu-1{
  background: purple;
  color:white;
  width: 20%;
  border-right:1px solid white;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;

}
.menu-2{
  background: purple;
  color:white;
  width: 20%;
  border-right:1px solid white;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;

}
.menu-3{
  background: purple;
  color:white;
  width: 20%;
  border-right:1px solid white;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;

}
.menu-4{
  background: purple;
  color:white;
  width: 20%;
  border-right:1px solid white;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;

}
.menu-5{
  background: purple;
  color:white;
  width: 20%;
 text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;

}
.menu-6{
  background: purple;
  color:white;
  width: 20%;
 text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;

}
.hi2{
  position: relative;
   display: grid;
    display: grid;
    color:grey;
              grid-template-columns:repeat(3,1fr);
              align-items: center;
              column-gap: 1.6rem;
              text-align: center;
              letter-spacing: 0.06em;

                      
}
.hi2::before, .hi2::after{
              content: "";
              height: 2px;
              background-color: #DCDCDC ;
              display: block;
            }


.flower1{
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  flex-wrap: wrap;
}
.course{
  width: 18%;
  height:350px;
  margin-left: 1%;
  margin-right: 1%;
  border:1px solid #DCDCDC;
  text-align: center;
}
.info{
  color:grey;
  margin-top: 30px;
}
.course-banner img{
                width:100%;
                height:200px;
            }
.btn_box{
          
        display: flex;
        justify-content: space-around;
        margin-top: 5px;
        padding: 0px 4px;
        margin-top: 7px;
      }

.details{
  color:#9c3092;

}
.btn:last-child{
            background: #5d2eb7;
            color: wheat;
            padding: 0.5em 1.2em;
            font-weight: 600;
            border-radius: 8px;
            
          }
  .all-flower {
  background-color: #fd72a3;
  color: white;
  padding-top: 0;
  margin-top: 0;
  height: 40px;
}
.products-categories{
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
}
.products{
  background-color: #DCDCDC;
  margin-top: 20px;


}
#hi2{
  padding: 20px;
  background-color: white;
  margin-top: 10px;
}

.categories{
  width: 18%;
  height: 200px;
  margin-left: 1%;
  margin-right: 1%;
  text-align: center;
  border-right: 1px  solid #A9A9A9 ;
  margin-top: 20px;
  margin-bottom: 20px;
}
.categories p{
  color:#ca0f83;
  font-weight: 600;
}
.foot3{
  display: flex;
  background-color: #DCDCDC;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 20px;
  color:grey;
}
.last{
  width:18%;
  margin-right: 1%;
  margin-left: 1%;
  text-align: center;

}
.last123{
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}
hr{
  margin-top: 40px;
  margin-bottom: 10px;
}
.last1{
  width: 14%;
  margin-right: 1%;
  margin-left: 1%;
  text-align: center;
  color:grey;
  border-right: 1px solid black;
}
.foot-para{
        color: #808080;
        margin-bottom: 10px;
    }
    .footer-link{
      
      text-decoration: underline;
        color: #808080;
    }
    .foot-heading{
              color: gray;
              margin-top: 10px;
              margin-bottom: 10px;
            }
            /*---------------------------TOPNAV START------------------------------------------*/
         /* Add a black background color to the top navigation */


/* Add a black background color to the top navigation */
.topnav {
background-color: purple;
overflow: hidden;
}
#slider{
  z-index: -1;
}

/* Style the links inside the navigation bar */
.topnav a {
  width: 18%;
 
float: left;
display: block;
color: #f2f2f2;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
}
.a1{
   border-right: 1px solid white;
}
.active{
   border-right: 1px solid white;
}

/* Change the color of links on hover */
.topnav a:hover {
background-color: green;
color: white;
}

/* Add an active class to highlight the current page */
/*.topnav a.active {

color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
display: none;
}

/*-------------------------DROPDOWN-----------------------------*/



.dropdown-content {
display: none;
position: absolute;
background-color: #f9f9f9;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
margin-top: 3%;
}

.dropdown-content a {
float: none;
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
text-align: left;
}

.d1{
  display: flex;
}

.dropdown-content ul li{
  list-style: none;
  color:white;
}

.dropdown:hover .dropdown-content {
display: block;
}
/* Hide the link that should open and close the topnav on small screens */

@media screen and (max-width: 600px) {
.topnav a:not(:first-child) {display: none;}
.topnav a.icon {
  float: right;
  display: block;
}
.a1{
  border:none;
}
.active{
  border:none;
}

}

/*The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
.topnav.responsive {position: relative;}
.topnav.responsive a.icon {
  position: absolute;
  right: 0;
  top: 0;
}
.topnav.responsive a {
  float: none;
  display: block;
  text-align: left;
}
}
/*----------------------------MEDIA QUERY-------------------------------------------------------*/
@media only screen and (max-width:1163px){
  
  .part1{
      flex-direction: column;
  text-align: center;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  }
  
  
  .part2{
      flex-direction: column;
  text-align: center;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  }
  #flower1{
      display: none;
  }
  .course{
      width: 40%;
      margin-left: 5%;
      margin-right: 5%;
      height: 350px;
      margin-bottom: 20px;
  }
  .categories{
      width: 40%;
      margin-left: 5%;
      margin-right: 5%;

  }
  .foot-1{
      width: 80%;
      margin-right: 5%;
      margin-left: 5%;
  }
  .foot-2{
      width: 80%;
      margin-right: 5%;
      margin-left: 5%;
  }.foot-3{
      width: 80%;
      margin-right: 5%;
      margin-left: 5%;
  }.foot-4{
      width: 80%;
      margin-right: 5%;
      margin-left: 5%;
  }
  .part-3 .icon{
      display: none;
  }
  body{
       width:90%;
      margin-right: 5%;
      margin-left: 5%;

      }






      

              
                  
                    

 
}
@media only screen and (min-width: 4030px){
      .i1{
          height: 200px;
      }
      .course{
          width:400px;
      }


  

  }